/*###### GENERAL STYLE ######*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*Navbar*/

.sticky {
    position: sticky;
    top: 0;
}


/*Footer*/




/*###### indexCss.html ######*/


/*Back to top button*/
.fixed {
    position:fixed;
    right:10px;
    bottom: 10px;
}

/*Section - Projects*/

.project-cards {
    display: flex;
    justify-content: center;
    gap: 5 rem;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    justify-content:center;
    flex-direction: column;

}

/*Section - hobbies*/

.hobbies {
    background-color: grey;
    display: flex;
    flex-direction: row;

}

.hobbies-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;


}

/*###### cvCss.html ######*/


/*###### contactFormCss.html ######*/




/*###### Media queries ######*/

/*Mobile*/
@media only screen and (max-width: 600px) {
    body {
        background-color: pink;
    }
   
}



/*Laptop/desktops*/
@media only screen and (min-width: 900px) {
    body {
        background-color: aquamarine;
    }
}
