/*###### GENERAL STYLE ######*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/*Navbar*/

nav {
    position: sticky;
    top: 0;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 64px;
}

#logoTA {
    width: 200px;
    height: 160px;
    margin-left: -45px;
    margin-top: 40px;
}

.ul-nav {
    list-style-type: none;
    margin-right: 8px;
    padding: none;
}

.ul-nav li {
    display: inline;

}

.ul-nav a {
    color:white;
    padding: 8px;
    text-decoration: none;
}

/*Footer*/

footer {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content: center;
    align-items: center;
    background-color: black;
    height: 90px; 
}

.logos-pic{
    width: 40px;
    display:flex;
    justify-content: center;
}

.logos-pic img {
    height: auto;
    width: 50%;
    filter: brightness(0) invert(1);
}


/*###### contactFormCss.html ######*/

/*Header*/
.banner-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.banner-header h1 {
    position: absolute;
    font-weight: bold;
    font-size: 2.5rem;

}

.banner-header img,
.banner-header picture {
    width: 100%;
    opacity: 0.5;

}

/* Form */

.section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-form h2{
    margin: 30px;
    font-size: 2rem;
}

.section-form form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.section-form label {
    margin-bottom: 3px;
}
.section-form input {
    margin-bottom: 5px;
}

.button-style {
    width:fit-content;
    padding: 5px 8px;
    background-color: white;
    border-radius: 20%;
    border: 1px solid black;
    cursor: pointer;
    margin: 50px;
}

.checkbox-div {
    margin-top: 5px;
}

.button-div {
    text-align: center;
}



/*###### indexCss.html ######*/

/*Back to top button*/
.fixed {
    position:fixed;
    right:10px;
    bottom: 10px;
}

.button-style-up {
    width:fit-content;
    padding: 5px 8px;
    background-color: grey;
    border-radius: 10%;
    border: 1px solid black;
    cursor: pointer;
    margin: 50px;
    font-size: 0.5rem;
}


/* Section Hello */

.hello-p-img {
    display:flex;
    flex-direction: row;
    margin: 15px;
}

.hello-parag {
    justify-content: flex-start;
    text-align: justify;
    background-image: url("../assets/img/aboutme_8.jpg");
    background-size: contain;
    background-repeat: round;
    opacity: 0.1;

}

#hello-img {
    display: none;
    visibility: hidden;
}

/*Section - Projects*/

.project-cards {
    display: flex;
    flex-direction: column;
    gap: 5 rem;
    /*max-width: 350px;*/
    margin: 20px auto;
}

.project-card {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    border: 2px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
    max-width: fit-content;
}

.container-card {
    padding: 10px 16px;
    text-align: justify;
    width: fit-content;
}

.project-card img {
    width: 100%;
    height: 214px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*Section - experience*/
#section-experience {
    background-color: black;
    color: white;
    padding-bottom: 30px;
    margin: 30px 0;
}

#section-experience h2 {
    margin-bottom: 30px;
}

#images-experience {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.image-skill {
    padding-bottom: 20px;
    height: 175px;
}

.image-skill img {
    max-width: 100%;
    max-height: 100%;
}



/*Section - hobbies*/

.hobbies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
}

.hobbies {
    position:relative;
    background-color: grey;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 200px;
    height: 50px;


}

.hobbies p {
    position: absolute;
    left: 30px;
    font-weight: bold;

}

.hobbies img {
    position: absolute;
    right: 7px;
    bottom: 10px;
    max-width: 100%;
    max-height: 60%;


}



/*###### cvCss.html ######*/








/*###### Media queries ######*/

/*Mobile first*/




@media only screen and (min-width: 600px) {
    body {
        background-color: pink;
    }

    .hello-p-img {
       align-items: center;
    }

    #hello-img {
        display:flex;
        visibility: visible;
        height: 220px;
    }

    .hello-parag {
      margin-right: 50px;
      background-image: none;
      opacity: 1;
    }
    #images-experience {
        flex-direction: row;
    }

    .image-skill {
        padding: 15px;
    }


    .hobbies-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .project-cards {
        flex-direction: row;        
    }

    .project-card {
        margin: 20px;
    }
}



/*Laptop/desktops
@media only screen and (min-width: 900px) {
    body {
        background-color: aquamarine;
    }
}
*/