/*###### GENERAL STYLE ######*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*### HEADER ###*/
.nav{
    display:flex;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

h1 {
  font-weight: bold;
  color: var(--text-color);
  font-size: 42px;
  margin-left:10px;
}

.skewed {
    display: flex;
    height: 200px;
    background: var(--color);
    z-index: 0;
    transform: skewY(-13deg);
    transform-origin: top left;
  }

.div-modes{
    margin-top: 10px;
}

.search-info {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
}

#pokemon-name{
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px var(--color);
  transition: .3s box-shadow;
  margin-right:5px;
}

#pokemon-name:hover {
  box-shadow:0 0 4px var(--color);
}
/*## Card styles ##*/


#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor:pointer;
  position: relative;
  color: var(--text-color);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
 
  .img1 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }
  

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  p{
    display:none;
    position: absolute;
    max-width: 80%;
    transition: opacity .3s ease-out;
    font-weight: bolder;
  }
  
  p.pokemonName {
    inset: auto auto 80px 30px;
  }

  p.pokemonID {
    inset: auto auto 80px 30px;
  }

  p.atac {
    inset: auto auto 60px 30px;
  }
  p.defensa {
    inset: auto auto 40px 30px;
  }
  
  .img2{
    display:none;
    position: absolute;
    width: 50%;
    transition: opacity .3s ease-out;
    font-weight: bolder;
    inset: 3px auto auto 210px;
  }

  .card:hover h2 {
    inset: auto auto 520px 30px;
    transition: inset .3s ease-out;
  }
  
  .card:hover p {
    display: inline;
    transition: opacity .5s .1s ease-in;
  }

  .card:hover .img2 {
    display: inline;
    transition: opacity .5s .1s ease-in;
    opacity: 1;
  }
  
  .card:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.3;
  }

/* ### Pokemon Random Button*/
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid var(--text-color);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: var(--color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/*### Button search ###*/

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--text-color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor:pointer;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}


/*## DARK LIGHT##*/
:root{
  --bg-color: #eee;
  --text-color:#343434;
  --color: #fcd49b;

}

body.light {
  --bg-color: #eee;
  --text-color:#343434;
  --color: #fcd49b;

}

body.dark {
  --bg-color: #545353;
  --text-color:  #eee;
  --color: #f4a331;

}

body{
  background-color: var(--bg-color);
  color: var(--text-color);

}

