/*###### GENERAL STYLE ######*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*### HEADER ###*/
.nav{
    display:flex;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

h1 {
  font-weight: bold;
  color: #221616;
  font-size: 42px;
  margin-left:10px;
}

.skewed {
    display: flex;
    height: 200px;
    background: #fcd49b;
    z-index: 0;
    transform: skewY(-13deg);
    transform-origin: top left;
  }

.div-modes{
    margin-top: 10px;
}

.search-info {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
}

#pokemon-name{
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px #fcd49b;
  transition: .3s box-shadow;
  margin-right:5px;
}

#pokemon-name:hover {
  box-shadow:0 0 4px #fcd49b;
}

#cards{
    display: flex;
    flex-wrap: wrap;
}

.card article{
    width: 18rem;
}


/* ### Pokemon Random Button*/
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #fcd49b;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/*### Button search ###*/

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #fcd49b;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: black;
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}